body{
	font: 12px Segoe UI, Helvetica, Arial, sans-serif;
	font-size: 80%;
}
a{
	position: relative;
	top: -5px;
	margin-right: 5px;
}
.end{
	position: relative;
	top: 10px;
}
#guser{
	font-size: 14pt;
	margin-left: 50px;
	height: 20px;
}
#guserclear{
	height: 50px;
	font-size: 13pt;
	margin-left: 5px;
}
#logo{
	height: 100px;
	width: 100px;
	float: right;
}
#card10{
	margin-top: 20px;
	width: 80%;
}
#card8{
	color: #4C4C4C;
	display: block;
	font-size: 18pt;
	margin-top: 20px;
	margin-bottom: 25px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	text-shadow: 1px 2px #E6E6E6;
}
.card{
	background-color: #E0F9F4;
	border-radius: 4px;
	box-shadow: 2px 8px 5px #888888;
}
#card1{
	height: 100%;
	width: 60%;
	min-height: 150px;
	margin-left: 15%;
	margin-right: auto;
}
.twocol{
	-webkit-columns: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}
#profleft{
	float: left;
}
#profright{
	float: right;
	margin-right: 10px;
}
.profileitem{
	margin: 5px;
	margin-bottom:15px;
	display: block;	
	font: 12pt Segoe UI, Helvetica, Arial, sans-serif;
}
#card9{
	text-align: center;
	margin: 10px;
	font-size: 13pt;
}
#question{
	margin-right: 10px;
	margin-bottom: 50px;
}
#toggle{
	min-width: 100px;
	height: 50px;
	font-size: 13.5pt;
}
#card11{
	float: right;
	margin-right: 50px;
	margin-top: -50px;
	text-align: center;
}
.actionlink{
	display: block;
	height: 5px;
	width: 85px;
}
#card7{
	display: inline;
	padding-bottom: 10px;
	float: right;
	margin-right: 13px;
	margin-top: -50px;
	margin-bottom: -5px;
}
#card7 span{
	padding: 10px;
}
#bottom{
	margin-top: 20px;
	margin-left: 8px;
	margin-right: 13px;
}
#card2{
	display: inline;
	float: left;
	min-height: 200px;
	width: 47%;
	min-width: 450px;
	margin-bottom: 20px;
}

#card3{
	display: inline;
	float: right;
	min-height: 300px;
	width: 47%;
	min-width: 450px;
	margin-bottom: 20px;
}

.table{
	margin-top: 10px;
	font-size: 11pt; 
}
.table tr:nth-child(even) {
    background-color: #eee;
}
.table tr:nth-child(odd) {
    background-color: #fff;
}

.show {
    display: none; 
}

.hide, .show {
	font-size: 30px;
	color: #fff;
	text-shadow: 1px 1px 0 #666;
	text-align: right;
	text-decoration: none;
	margin-bottom: 0;
	float: right;
}
.left{
	float: left;
}
.hidden{
	display: none;
}
.unhidden{
	display: table-row-group;
}
th{	
	text-align: left;
}

#summary{
	min-height: 150px;
	width: 95%;
	margin-left: 10px;
	margin-right: auto;
	margin-top: 10px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 1.5px 6px 5px #888888;
	z-index: 2;
	
}
#summary h1{
	margin-left: 10px;
	font-size: 11pt;
	margin-bottom:2px;
	font-weight: normal;
}
#statusdata{
	margin-left:10px;
	font-size: 11pt;
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}
#statusdata p{
	margin-top:0;
}
#card4{
	float: left;
	width: 23.5%;
	margin-right: 10px;
}
#card5{
	float: left;
	width: 23.5%;
	margin-right: 10px;
}

#card6{
	float: left;
	width: 46%;
	margin-right: 10px;
	padding-top: 4px;
}
#card12{
	float: left;
	width: 90%;
	margin-left: 20px;
	margin-top: 20px;
	min-height: 200px;
}
#lowest{
	float: left;
	display: block;
	width: 48%;
	margin-left: 10px;
}
#dept{
	margin-top: -3px;
}
#data{
	display: none;
}
.bigtext{
	font-size: 20pt;
	text-align: center;
	margin-left:auto;
	margin-right: auto;
}
.caption{
	float: left;
}
.title{
	font-size: 12pt;
	color: #000000;
	text-transform: uppercase;
	text-shadow: 2px 2px 1px #FFFFFF;
	/*background-color: #666666;*/
	border-radius: 3px;
}
.ui-menu .ui-menu-item {
    background:#E0F9F4;
	border-radius: 5px;
	margin-top: 3px;
}